{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="text-center">
        <i class="material-icons" style="font-size: 64px; color: #7442d6;">cloud_off</i>
        <h2 class="mt-3">You're Offline</h2>
        <p class="lead">It looks like you've lost your internet connection. Don't worry, you can still:</p>
        
        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <i class="material-icons me-2">arrow_upward</i>
                        View your cached climbs
                    </li>
                    <li class="list-group-item">
                        <i class="material-icons me-2">add_circle</i>
                        Log new climbs (they'll sync when you're back online)
                    </li>
                    <li class="list-group-item">
                        <i class="material-icons me-2">bar_chart</i>
                        Check your cached statistics
                    </li>
                </ul>
            </div>
        </div>
        
        <button onclick="window.location.reload()" class="btn btn-primary mt-4">
            <i class="material-icons me-2">refresh</i>
            Try Again
        </button>
    </div>
</div>
{% endblock %}
