
{% extends "base.html" %}

{% block content %}
<div style="max-width: 1200px; margin: 0 auto;" class="standings-container">
    <div class="card mt-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead style="background-color: #303d59;">
                        <tr>
                            <th scope="col" style="padding-right: 0.5rem">#</th>
                            <th scope="col" style="padding-left: 0.5rem">Username</th>
                            <th scope="col">Sends</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Pts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in leaderboard %}
                        <tr>
                            <td style="padding-right: 0.5rem">
                                {% if loop.index <= 3 %}
                                    <span class="material-symbols-outlined">counter_{{ loop.index }}</span>
                                {% else %}
                                    {{ loop.index }}
                                {% endif %}
                            </td>
                            <td style="padding-left: 0.5rem">{{ user.username }}</td>
                            <td>{{ user.total_sends }}</td>
                            <td>{{ user.avg_grade }}</td>
                            <td>{{ user.total_points }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
